body {
    margin: 10px;
    padding: 0;
    font-size: 14px;
}
p {
    margin: 0;
}
#header {
    margin: 10px 0;
    padding: 0;
    font-size: 18px;
}
.inactive {
    position: relative;
}
.inactive::after {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255,255,255,.5);
}
.inline-block {
    display: inline-block;
    vertical-align: top;
}

/*設定部分*/
#main {
    margin-bottom: 10px;
    padding: 0;
    height: auto;
    overflow: hidden;
}
.opt1 {
    width: 360px;
    float: left;
}
.opt2 {
    margin-bottom: 5px;
    overflow: hidden;
}
.optcap6em {
    height: auto;
    width: 6em;
    display: inline-block;
    text-align: right;
    vertical-align: top;
}
.optcap7em {
    height: auto;
    width: 7em;
    display: inline-block;
    text-align: right;
    vertical-align: top;
}
.optcap8em {
    height: auto;
    width: 8em;
    display: inline-block;
    text-align: right;
    vertical-align: top;
}
.optcap9em {
    height: auto;
    width: 9em;
    display: inline-block;
    text-align: right;
    vertical-align: top;
}
.optcap10em {
    height: auto;
    width: 10em;
    display: inline-block;
    text-align: right;
    vertical-align: top;
}
.optset {
    height: auto;
    width: auto;
    display: inline-block;
    vertical-align: top;
}
.box {
    text-align: left;
}
input {
    margin: 0;
    padding: 0;
}
.number1 {
    width: 50px;
}
.number2 {
    width: 80px;
}
input[type="checkbox"] {
    margin-right: 3px;
    vertical-align: -2px;
}
#main button {
    vertical-align: 0;
    height: 20px;
    line-height: 1;
}
/*設定部分　ここまで*/

/*ユニットデータテーブル*/
#unitsData {
    margin-bottom: 10px;
    padding: 0;
    height: auto;
    clear: both;
}
#unitsTable {
    font-size: 14px;
    font-weight: normal;
    border-collapse: collapse;
}
.unitsHead {
    text-align: center;
    background-color: rgb(200, 200, 200);
}
#unitsTable td:nth-child(1) { width: 12em; text-align: left;}       /*名前*/
#unitsTable td:nth-child(2) { width: 8.5em; text-align: left;}      /*属性*/
#unitsTable td:nth-child(3) { width: 9.5em; text-align: left;}      /*その他*/
#unitsTable td:nth-child(4) { width: 4.5em; text-align: center;}    /*配置型*/
#unitsTable td:nth-child(5) { width: 2.5em; text-align: center;}    /*レア*/
#unitsTable td:nth-child(6) { width: 9.5em; text-align: left;}      /*クラス*/
#unitsTable td:nth-child(7) { width: 8.5em; text-align: left;}      /*好感度*/
#unitsTable td:nth-child(8) { width: 3.5em; text-align: center;}    /*スキル*/
#unitsTable td:nth-child(9) { width: 3.5em; text-align: center;}    /*対象*/
#unitsTable td:nth-child(10) { width: 5em; text-align: right;}      /*初回*/
#unitsTable td:nth-child(11) { width: 5em; text-align: right;}      /*間隔*/
#unitsTable td:nth-child(12) { width: 3.5em; text-align: right;}    /*減少率*/
#unitsTable td:nth-child(13) { width: 3em; text-align: center;}     /*特攻*/
#unitsTable td:nth-child(14) { width: 3.5em; text-align: center;}   /*削除*/
.delUnitBtn {
    width: 100%;
}
.unitAddBtn {
    width: 100%;
}
/*ユニットデータテーブル　ここまで*/

/*モーダル*/
.modal {
    display: none;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.isShown {
    display: block;
}
#overlay {
    height: 120%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
#modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    min-height: auto;
    max-height: 95%;
    /*min-width: min-content;*/
    max-width: 840px;
    padding: 1em;
    border: 2px solid orange;
    border-radius: 5px;
    background: white;
    overflow: auto;
}
#modalHeader {
    margin-bottom: 10px;
    font-size: 18px;
}
#modalBody {
    margin: 0;
    padding: 0;
    overflow: auto;
}
.modalOpt1 {
    margin-bottom: 10px;
    padding: 0;
    min-width: 500px;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
}
.modalOpt2 {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.modalOpt3 {
    margin: 0 10px 10px 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}
.modalOptset1 {
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    display: inline-block;
    vertical-align: top;
}
.modalOptset2 {
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    display: inline-block;
    vertical-align: top;
}
.modal .box {
    margin: 0;
    padding: 0;
}
.modal input[type="number"] {
    width: 50px;
}
.reqMark::after {
    content: "*";
    color: red;
}
#modalName {
    width: 12em;
}
.modalAttr {
    margin-right: 5px;
    width: 12em;
}
.modalClass {
    margin-right: 5px;
    width: 12em;
}
.modalNote {
    margin-right: 5px;
    width: 12em;
}
.modalTarget {
    width: 5em;
}
.modalDmgMulTarget {
    width: 5em;
}
#modalBody button {
    vertical-align: 0;
    height: 20px;
    line-height: 1;
}
#addUnitAlart {
    margin: 10px 0;
    min-height: 4em;
    color: red;
}
#modalFooter {
    margin: 0;
    padding: 0;
}
#modalFooter button {
    vertical-align: 0;
    height: 24px;
    line-height: 1;
    width: 8em;
}
.buttonArea {
    margin: 0 auto;
    width: max-content;
}
/*モーダル　ここまで*/

/*グラフのところ*/
#graph {
    margin-bottom: 10px;
    padding: 0;
    width: auto;
    height: auto;
    clear: both;
}
#graphArea {
    margin: 0;
    padding: 0;
    min-width: 500px;
    height: 100vh;
    max-height: 600px;
}
#canvas {
    width: auto;
    min-width: 500px;
    height: 100vh;
    max-height: 600px;
}
#graphOpt {
    text-align: right;
    width: calc(100% - 1em);
    min-width: 480px;
}
#graph .wrap_checkbox {
    text-align: left;
}
#graph .wrap_checkbox label {
    display: block;
    margin-left: 0;
}
#graph .wrap_checkbox label input {
    display: none;
}
#graph .wrap_checkbox label span {
    display: inline-block;
    width: 64px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    color: black;
    background: white;
}
#graph .wrap_checkbox label input:checked + span {
    color: white;
    background: rgb(100, 100, 100);
}
/*グラフのところ　ここまで*/

/*フッタ*/
#footer {
    margin-top: 60px;
    margin-bottom: 20px;
    padding: 0;
    font-size: 12px;
    width: 100%;
    min-width: 500px;
}
#console div {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid black;
}
#updated {
    margin: 10px 0;
}
#updateHistory {
    margin-left: 3.5em;
    margin-right: 1em;
    padding: 5px;
    height: 100px;
    border: 1px solid black;
    overflow-y: scroll;
}
.updateElem {
    margin-bottom: 1em;
    width: 100%;
    overflow: hidden;
}
.date {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
}
.detail {
    margin-left: 1em;
    width: calc(100% - 1em);
    overflow: hidden;
}
#linkArea {
    margin: 10px 0;
    overflow: hidden;
}
/*フッタ　ここまで*/
